<ion-view title="Search Page" hide-back-button="true" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-cloud-download-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="articlesList" id="searchPage-button9" class="button button-positive  button-block">Search</a>
  </ion-content>
</ion-view>