<ion-view title="SignUp" hide-back-button="true" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form4" class="list">
      <label class="item item-input" id="signUp-input4">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signUp-input5">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signUp-input6">
        <span class="input-label">email</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="searchPage" id="signUp-button8" class="button button-positive  button-block">Tap me!</a>
  </ion-content>
</ion-view>